@model ThietBiDienTu.Models.KhachHang

@{
    ViewData["Title"] = "Details";
}

<div class="w3-row">
    <h1>THÔNG TIN KHÁCH HÀNG</h1>
</div>
<hr>
<div class="max-width-40 ud-center">
    <div class="w3-container w3-teal">
        <h2>Thông tin của khách hàng</h2>
    </div>
    <form asp-action="Details" class="w3-container w3-card-4 w3-padding">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <dl class="row">
                <dt class = "col-sm-2">
                    Mã khách hàng:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.MaKH)
                </dd>
                <dt class = "col-sm-2">
                    Tên khách hàng:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.TenKH)
                </dd>
                <dt class = "col-sm-2">
                    Địa chỉ:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
                <dt class = "col-sm-2">
                    Số điện thoại:
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.SDT)
                </dd>
            </dl>
        </div>
        <div class="w3-margin-top">
            <a asp-action="Edit" asp-route-id="@Model?.MaKH" class="btn btn-danger w3-border w3-teal">Chỉnh sửa</a> |
            <a asp-action="Index" class="btn btn-danger w3-border w3-teal">Trở lại</a>
        </div>
    </form>
</div>