@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my sales website</h1>
    <p>Learn about <a href="https://docs.google.com/document/d/19iE5SPGCqFG2nq_3VVpEH6O_4jYI8FuNLJcLmae68aI/edit">describe the problem</a>.</p>
</div>