@model ThietBiDienTu.Models.HangHoa

@{
    ViewData["Title"] = "Edit";
}
<div class="w3-row">
    <b>CHỈNH SỬA THÔNG TIN CỦA MẶT HÀNG</b>
</div>
<hr>
<div class="max-width-40 ud-center">
    <div class="w3-container w3-teal">
        <h2>THÔNG TIN CỦA MẶT HÀNG</h2>
    </div>
    <form asp-action="Edit" class="w3-container w3-card-4 w3-padding">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <div class="w3-col-l3">
                <label asp-for="MaHH" class="control-label">Mã hàng</label>
                <input asp-for="MaHH" class="form-control" />
                <span asp-validation-for="MaHH" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="TenHH" class="control-label">Tên hàng</label>
                <input asp-for="TenHH" class="form-control" />
                <span asp-validation-for="TenHH" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="HangSX" class="control-label">Hãng sản xuất</label>
                <input asp-for="HangSX" class="form-control" />
                <span asp-validation-for="HangSX" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="XuatXu" class="control-label"> Xuất xứ</label>
                <input asp-for="XuatXu" class="form-control" />
                <span asp-validation-for="XuatXu" class="text-danger"></span>
            </div>
            <div class="w3-col-l3">
                <label asp-for="DonGia" class="control-label">Đơn giá</label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
        </div>
        <div class="w3-margin-top">
            <input type="submit" value="Lưu" class="btn btn-primary w3-teal" /> |
            <a asp-action="Index" class="btn btn-primary w3-teal">Trở lại</a>
        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
