@model ThietBiDienTu.Models.HangHoa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HangHoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHH" />
            <div class="form-group">
                <label asp-for="MaHH" class="control-label"></label>
                <input asp-for="MaHH" class="form-control" />
                <span asp-validation-for="MaHH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHH" class="control-label"></label>
                <input asp-for="TenHH" class="form-control" />
                <span asp-validation-for="TenHH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangSX" class="control-label"></label>
                <input asp-for="HangSX" class="form-control" />
                <span asp-validation-for="HangSX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XuatXu" class="control-label"></label>
                <input asp-for="XuatXu" class="form-control" />
                <span asp-validation-for="XuatXu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
